@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

:root {
  --dark-cyan: hsl(180, 29%, 50%);
  --light-cyan-background: hsl(180, 52%, 96%);
  --light-cyan-tablet: hsl(180, 31%, 95%);
  --dark-grey-cyan: hsl(180, 8%, 52%);
  --very-dark-grey-cyan: hsl(180, 14%, 20%);
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'League Spartan', sans-serif;
}

body {
  background: var(--light-cyan-background);
}

p {
  font-size: 15px;
}

span.interpunct {
  padding: 0 10px;
}

.App__container {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App__background-image {
  background: var(--dark-cyan);
  width: 100%;
  height: 156px;
}

.JobListings__container {
  display: flex;
  max-width: 1110px;
  width: 100%;
  padding: 60px 0px;
  flex-direction: column;
  gap: 30px;
}

.JobListing__border-container {
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgb(0,0,0,0.2);
  overflow: hidden;
}

.JobListing__container {
  padding: 32px 40px;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.JobListing__container.featured {
  border-left: 5px solid var(--dark-cyan);
  padding-left: calc(40px - 5px); /* kinda hacky way to undo the border, do this a better way? */
}

.JobListing__container hr {
  display: none;
}

.JobSummary__container {
  margin-left: 24px;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.JobListing__image-and-summary {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.JobListing__image {
  align-self: center;
}

.JobSummary__company {
  color: var(--dark-cyan);
  font-weight: bold;
  padding-right: 8px;
}

.JobSummary__company-and-highlights {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.JobSummary__company-and-highlights div {
  color: white;
  background-color: var(--dark-cyan);
  padding: 6px;
  text-align: center;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 12px;
}

.JobSummary__company-and-highlights div.new {
  background-color: var(--dark-cyan);
}

.JobSummary__company-and-highlights div.featured {
  background-color: var(--very-dark-grey-cyan);
}

.JobSummary__position {
  color: var(--very-dark-grey-cyan);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.JobSummary__position:hover {
  color: var(--dark-cyan);
}

.JobSummary__details {
  color: var(--dark-grey-cyan);
}

.JobTags__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.JobTag__container {
  background: var(--light-cyan-tablet);
  padding: 8px;
  color: var(--dark-cyan);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

.JobTag__container:hover {
  background: var(--dark-cyan);
  color: white;
}

.FilterBar__container {
  max-width: 1110px;
  width: 100%;
  min-height: 72px;
  margin-top: calc(-72px / 2);
  background: white;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgb(0,0,0,0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.FilterBar__tags-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px 0;
  gap: 16px;
}

.FilterBar__btn-clear {
  color: var(--dark-grey-cyan);
  font-weight: bold;
  text-decoration: none;
}

.FilterBar__btn-clear:hover {
  color: var(--dark-cyan);
  text-decoration: underline;
}

.FilterBarTag__container {
  background: var(--light-cyan-tablet);
  color: var(--dark-cyan);
  font-weight: bold;
  border-radius: 4px;
  padding-left: 8px;
  overflow: hidden;
  /* padding: 8px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.FilterBarTag__btn-remove-container {
  width: 28px;
  height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--dark-cyan);
  cursor: pointer;
}

.FilterBarTag__btn-remove-container:hover {
  background: var(--very-dark-grey-cyan);
}

@media screen and (max-width: 600px) {
  .JobListings__container {
    gap: 40px;
  }

  .JobListing__image {
    position: absolute;
    width: 48px;
    top: -24px;
    align-self: flex-start;
  }

  .JobListing__relative-container {
    position: relative;
  }

  .JobListing__container {
    padding: 30px 24px;
    flex-direction: column;
    align-items: flex-start;
  }

  .JobListing__container.featured {
    padding-left: calc(24px - 5px);
  }

  .JobListing__container hr {
    display: inherit;
    align-self: stretch;
    height: 1px;
    background: var(--dark-grey-cyan);
    border: none;
  }

  .JobListing__image-and-summary {
    flex-direction: column;
    align-items: flex-start;
  }

  .JobSummary__container {
    padding: 0;
    margin: 0;
    gap: 10px;
  }
}